<div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>{{ title }}</h2>
      <button (click)="onClose()">Close</button>
    </div>
    <div class="modal-body">
      <form>
        <div *ngFor="let input of dynamicInputs">
          <label>{{ input.label }}</label>
          <input [type]="input.type" [placeholder]="input.placeholder" [(ngModel)]="input.value">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button (click)="submitForm()">Submit</button>
    </div>
  </div>
</div>

